---
title: Log In
---

<div class="max-w-6xl mx-auto">

    <div class="text-center content">
        <h1 class="mb-4">Log In</h1>
        <p>Log in to your account below.</p>
    </div>

    <div class="max-w-md mx-auto p-5 bg-gray-300 rounded-xl">
        
        {{ user:login_form allow_request_redirect="true" }}
            
            {{ if errors }}
                <div class="bg-red-600 text-white p-2 rounded-md mb-5 text-center">
                    {{ errors }}
                        {{ value }}<br>
                    {{ /errors }}
                </div>
            {{ /if }}

            <div class="mb-5">
                <label for="email" class="block mb-1">Email</label>
                <input class="w-full rounded-md" type="email" name="email" id="email" value="{{ old:email }}" />
            </div>
    
            <div class="mb-5">
                <label for="password" class="block mb-1">Password</label>
                <input class="w-full rounded-md" type="password" name="password" id="password" value="{{ old:password }}" />
            </div>
    
            <div class="flex justify-between items-center">
                <label for="remember" class="flex items-center gap-2">
                    <input class="rounded w-6 h-6" type="checkbox" name="remember" id="remember" {{ old:remember ?= 'checked' }} />
                    Remember me
                </label>
                <button class="bg-gray-600 text-white border border-gray-600 px-6 py-2 rounded-md" type="submit">Log in</button>
            </div>
        
        {{ /user:login_form }}
            
    </div>
        
    <a href="{{ mb:user:forgot_password_url }}" class="mt-5 text-center block text-black">Forgot password?</a>

</div>
