---
title: Update Profile
---

{{ if ! logged_in }}
    {{ redirect to="{ mb:user:login_url append_redirect='true' }" }}
{{ /if }}

<div class="max-w-6xl mx-auto">

    <div class="text-center content">
        <h1 class="mb-4">Update Profile</h1>
        <p>Update your account details below.</p>
    </div>

    <div class="max-w-md mx-auto p-5 bg-gray-300 rounded-xl">
        
        {{ mb:user:profile_form }}

            {{ if errors }}
                <div class="bg-red-600 text-white p-2 rounded-md mb-5 text-center">
                    {{ errors }}
                        {{ value }}<br>
                    {{ /errors }}
                </div>
            {{ /if }}

            {{ if success }}
                <div class="bg-green-600 text-white p-2 rounded-md mb-5 text-center">
                    {{ success }}<br>
                </div>
            {{ /if }}

            {{ user }}

                <div class="mb-5">
                    <label for="name" class="block mb-1">Name</label>
                    <input class="bg-white p-2 w-full rounded-md" type="name" name="name" id="name" value="{{ old:name ?? name }}" />
                </div>

                <div class="mb-5">
                    <label for="email" class="block mb-1">Email</label>
                    <input class="bg-white p-2 w-full rounded-md" type="email" name="email" id="email" value="{{ old:email ?? email }}" />
                </div>

            {{ /user }}
            
            <a href="{{ mb:user:change_password_url }}" class="my-5 text-center block text-black">Want to change your password?</a>

            <button class="bg-gray-600 text-white p-2 w-full rounded-md" type="submit">Update</button>

        {{ /mb:user:profile_form }}

    </div>

</div>
