---
title: Update Profile
---

{{ if ! logged_in }}
    {{ redirect to="{ mb:user:login_url append_redirect='true' }" }}
{{ /if }}

<div class="max-w-6xl mx-auto">

    <div class="text-center content">
        <h1 class="mb-4">Update Profile</h1>
        <p>Update your account details below.</p>
    </div>

    <div class="max-w-md mx-auto p-5 bg-gray-300 rounded-xl">
        
        {{ mb:user:profile_form files="true" }}

            {{ if errors }}
                <div class="bg-red-600 text-white p-2 rounded-md mb-5 text-center">
                    {{ errors }}
                        {{ value }}<br>
                    {{ /errors }}
                </div>
            {{ /if }}

            {{ if success }}
                <div class="bg-green-600 text-white p-2 rounded-md mb-5 text-center">
                    {{ success }}<br>
                </div>
            {{ /if }}

            {{ user }}

                {{# IMPORTANT: The `statamic.memberbox.profile_fields` config option must match these fields #}}

                <div class="mb-5">
                    <label for="name" class="block mb-1">Name</label>
                    <input class="w-full rounded-md" type="text" name="name" id="name" value="{{ old:name ?? name }}" />
                </div>

                <div class="mb-5">
                    <label for="email" class="block mb-1">Email</label>
                    <input class="w-full rounded-md" type="email" name="email" id="email" value="{{ old:email ?? email }}" />
                </div>

                <div class="mb-5">
                    <label for="avatar" class="block mb-1">Avatar</label>
                    <div class="flex gap-3 items-center">
                        <input class="w-full" type="file" name="avatar" id="avatar" />
                        {{ if avatar }}
                            <img src="{{ glide:avatar width="88" height="88" }}" alt="{{ name }}" class="w-11 h-11 rounded-full shrink-0">
                        {{ else }}
                            <div class="w-11 h-11 rounded-full shrink-0 bg-gray-200"></div>
                        {{ /if }}
                    </div>
                </div>

            {{ /user }}
            
            <button class="bg-gray-600 text-white border border-gray-600 px-6 py-2 w-full rounded-md" type="submit">Update</button>
        
        {{ /mb:user:profile_form }}
        
    </div>

    <a href="{{ mb:user:change_password_url }}" class="my-5 text-center block text-black">Need to change your password?</a>

</div>
