---
title: Register
---

<div class="max-w-6xl mx-auto">

    <div class="text-center content">
        <h1 class="mb-4">Register</h1>
        <p>Register for an account below.</p>
    </div>

    <div class="max-w-md mx-auto p-5 bg-gray-300 rounded-xl">
        
        {{ user:register_form }}
            
            {{ if errors }}
                <div class="bg-red-600 text-white p-2 rounded-md mb-5 text-center">
                    {{ errors }}
                        {{ value }}<br>
                    {{ /errors }}
                </div>
            {{ /if }}

            {{ if success }}
                <div class="bg-green-600 text-white p-2 rounded-md mb-5 text-center">
                    {{ success }}<br>
                </div>
            {{ /if }}
            
            <div class="mb-5">
                <label for="email" class="block mb-1">Email</label>
                <input class="bg-white p-2 w-full rounded-md" type="email" name="email" id="email" value="{{ old:email }}" />
            </div>
    
            <div class="mb-5">
                <label for="password" class="block mb-1">Password</label>
                <input class="bg-white p-2 w-full rounded-md" type="password" name="password" id="password" value="{{ old:password }}" />
            </div>
    
            <div class="mb-5">
                <label for="password_confirmation" class="block mb-1">Confirm Password</label>
                <input class="bg-white p-2 w-full rounded-md" type="password" name="password_confirmation" id="password_confirmation" value="{{ old:password_confirmation }}" />
            </div>

            <button class="bg-gray-600 text-white p-2 w-full rounded-md" type="submit">Register</button>

        {{ /user:register_form }}

    </div>

</div>
