<header>
    <div class="max-w-5xl mx-auto px-3 py-3 flex items-center h-16">
        <a href="/" class="font-bold text-xl hover:text-hot-pink mr-auto">{{ settings:site_name }}</a>
        {{ if logged_in }}
            {{ member }}
                <a href="{{ member:edit_url }}" class="ml-5 text-l hover:text-hot-pink">{{ user }}{{ name }}{{ /user }}</a>
            {{ /member }}
            <a href="{{ user:logout_url }}" class="ml-5 text-l hover:text-hot-pink">Log out</a>
        {{ /if }}
        {{ if ! logged_in }}
            <a href="{{ member:register_url }}" class="ml-5 text-l hover:text-hot-pink">Register</a>
            <a href="{{ member:login_url }}" class="ml-5 text-l hover:text-hot-pink">Log in</a>
        {{ /if }}
    </div>
    <div class="w-full border-b-2 border-black squiggle"></div>
</header>
